.AboutUs {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.aboutus__container {
  width: 100%;
  padding-top: 0 1rem;
}

.AboutUs-text {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.AboutUs-text p {
  width: 60%;
  text-align: center;
}
.AboutUs-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3.5rem;
  gap: 10px;
}
@media(max-width: 40rem)
{
  
  .AboutUs {
    width: 100%;}
  .AboutUs-body {
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .AboutUs-body img {
    width:20rem !important ;
  }
    .Mission, .Vision {
      width:20rem !important;
      height: fit-content !important;
    }
   
}
.AboutUs-body img {
  width:585px ;
  height:306px ;
  object-fit: cover;
  aspect-ratio: 1/1;

}
.Mission, .Vision {
  color: #fff;
  width:585px ;
  height:306px ;
  background: #283c5c;
}
.Mission-width, .Vision-width {
  margin: 36px;
}
.Mission h3 ,.Vision h3{
  text-align: center;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 400;
}
.Mission p, .Vision p {
  line-height: 19.36px;
  font-weight: 400;
  font-size: 16px;
}
