.blog-section {
  background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding-block: 5.5em;
    width: 100%;
    position: relative;
}
@media (max-width : 950px)
{
  .cards {
    flex-direction: column;
  }
}
.header-text h1{
  line-height: 43.57px;
  font-weight: 400;
  font-size: 36px;
   text-align: center;
   color: #743943;
}

.header-text {
  position: relative; 
}

.header-text::before {
  content: '';
    position: absolute;
    border: 3px solid #743943;
    width: 68px;
}

.header-text::before {
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.text-container {
  width: min(700px , 70%);
}
.text-container p {
  font-size: 16px;
  line-height: 14.52px ;
   margin: 5rem auto;
   text-align: center;
   font-weight: 400;
}

.cards {
  display: flex;
  width: 80%;
  gap: 20px;
  
}
.card {
  background: #fff;
  width: 100%;
} 
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: red; */
  padding: 3rem 2rem;
}

.card-content-title h1 {
  line-height: 19.36px;
  color: #743943;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding-inline: 3rem;
}

.card-content-title {
  position: relative;
  margin: 0 auto;
  margin-block-end: 3rem;
}

.card-content-title::before {
  content: '';
    position: absolute;
    border: 3px solid #743943;
    width: 68px;
}

.card-content-title::before {
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.text-body {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
}

.read-more-button {
  margin-block-start: 3rem;
  width: 98px;
  height: 35px;
  padding: 10px, 14px, 10px, 14px;
  border: 1px solid #743943;
}
 .more-posts-button {
  font-weight: 400;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  right: 150px;
  bottom: 10px;border-style: none;
  height: 39px;
  background:  #743943;
}