.footer {  
    background: #273A5C;
    color: white;
    padding: 1rem 5rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
  }
  .follow-us__message {
    font-size: 12px;
  }
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  .logo {
    align-self: center;
  }
  .facebook-icons , .twitter-icons, .instagram-icons{
    font-size: 19px;  
  }
  .twitter-icons {
    fill: rgb(0, 170, 255);
  }
  .contact :not(:first-child) {
    font-size: 12px;
  }
  .footer-text {
    text-align: center;
  }
  /* .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .contact {
    text-align: left;
  }
  
  .logo {
    text-align: center;
    font-size: larger;
  }
  
  .follow-us {
    text-align: right;
  }
  
  .social-icons {
    display: flex;
  }
  
  .footer hr {
    margin: 0;
    border: none;
    border-top: 1px solid #0d0e0d;
    bottom: 0;
    position: absolute;
  }
  
  .footer-text {
    bottom: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  } */