.gallery {
    padding: 0rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding-block: 5.5em;
}


.gallery__heading h1 {
  line-height: 43.57px;
  font-weight: 400;
  font-size: 36px;
   text-align: center;
   color: #743943;
}

.gallery__heading {
  position: relative;
  margin: 5rem auto;
}

.gallery__heading::before {
  content: '';
    position: absolute;
    border: 3px solid #743943;
    width: 68px;
}

.gallery__heading::before {
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.image__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .image__grid img {
    
    width: 100%;
    height: 100%;
    object-fit: contain;
   
  }

  .gallery__button {
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding: .8rem;
    justify-content: center;
    align-items: center;
    background: var(--Primary-red, #743943);
    border: 0px;
    align-self: flex-end;
    margin-top: 2rem;
  }
  @media (max-width: 768px) {
    .image__grid {
      grid-template-columns: 1fr !important;

       /* Display one image column */
      /* grid-template-rows: repeat(6, 1fr) !important; Adjust the number of rows as needed */
    }
    .gallery {
      padding: 0rem 1rem 0rem 1rem;}
  }
  
  