.mainNav a{
    text-decoration: none;
    color: #ffff;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.mainNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* background: rgba(116, 57, 67, 0.50); */
}
.body {
    background: red !important;
}
.mainNav h1{
    color: #ffff;
    font-size: 36px;
}

@media(max-width :789px) {
    .mainNav {
        flex-direction: column;
    }
}